.default-page-desktop-wrapper {
  padding-bottom: 2rem;
}

.default-page-desktop-section-one-wrapper {
  margin: 0 auto 0 auto;
  padding-top: 3rem;
  max-width: 800px;
  width: 60vw;
}

.default-page-desktop-section-one-wrapper h1 {
  text-transform: uppercase;
  margin: 2rem auto;
}

.default-page-desktop-section-one-wrapper h4 {
  font-weight: 500;
  width: 100%;
  max-width: 800px;
}

.default-page-desktop-section-one-wrapper p {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 40rem;
  font-weight: 300;
  font-size: 14px;
  padding: 1.5rem 0 0 0;
}

.default-page-desktop-section-two {
  width: 100%;
  box-shadow: #777 0 0.4rem 0.4rem;
  margin-top: 8vw;
}

.default-page-desktop-section-two-box {
  display: flex;
  justify-content: center;
}

.default-page-desktop-section-two-box-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.default-page-desktop-section-two-box-right {
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 300;
  justify-content: center;
  max-width: 30rem;
  padding: 0;
  text-align: center;
}

.default-page-desktop-section-two-box-left img {
  width: 20vw;
  max-width: 20rem;
  border-radius: 50%;
  border: #f1f1f1 solid 1px;
}