* {
  box-sizing: border-box;
  font-family: 'Poppins', 'Open-sans', sans-serif;
  margin: 0;
  padding: 0;
}

.links {
  color: rgb(218, 211, 127);
}

.link-nav {
  color: #f1f1f1;
  text-decoration: none;
  display: none;
}

button, .vara-etologer-select-box {
  border-radius: 2rem;
  background-color: #36536d;
  color: #f1f1f1;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  padding: 8px;
  text-transform: uppercase;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.452) 3px 5px 10px;
}

.background-white {
  background-color: #f1f1f1;
}

.font-grey {
  color: #4d4d4d
}

@media screen and (max-width: 760px) {
  button {
    border-radius: 2rem;
    font-size: 3vw;
    font-weight: 400;
    padding: 8px;
    display: flex;
  }
}