.vara-etologer-desktop-wrapper {
  background-color: #fff;
}

.vara-etologer-desktop-etologer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 755px;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 7rem;
}

.vara-etologer-desktop-search-box-wrapper {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 5rem auto 0 auto;
}