.footer-desktop-body {
    color: #f1f1f1;
    width: 100%;
    background-color: #2c3741;
    display: flex;
    flex-direction: column;
}

.footer-desktop-container {
    display: flex;
    justify-content: space-evenly;
    margin: 3vw auto;
    width: 100%;
    max-width: 1200px;
}

.footer-desktop-container-left {
    margin: 1rem;
    max-width: 37vw;
    text-align: justify;
}

.footer-desktop-container-left h1 {
    font-size: 4rem;
    text-align: center;
    padding: 0;
    margin: 0 auto 2rem 0;
    line-height: 6rem;
}

.footer-desktop-container-left p {
    max-width: 30rem;
    font-size: 0.7rem;
}

.footer-desktop-container-right {
    margin: auto 1rem;
    text-align: center;
}

.footer-desktop-container-right-boka, .footer-desktop-container-right-boka a {
    font-size: 3.5rem;
    background-color: #f1f1f1;
    color: #2c3741;
    width: fit-content;
    margin: auto;
    padding: 0 3vw;
    border-radius: 7vw;
    text-decoration: none;
}

.footer-desktop-container-right-social-media {
    display: flex;
    justify-content: center;
}

.footer-desktop-container-right-social-media div {
    padding: 1rem;
    font-size: 4rem;
    color: rgb(218, 211, 127);
}

.footer-desktop-copyright {
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 1rem;
}