.radgivning-dekstop-section-three-wrapper {
  display: flex;
  max-width: 1200PX;
  margin: 6rem auto 0 auto;
}

.radgivning-dekstop-section-three-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  width: 50%;
}

.radgivning-dekstop-section-three-text {
  border: rgba(0, 0, 0, 0.315) solid 1px;
  border-radius: 2rem;
  margin: auto;
  padding-bottom: 1rem;
  width: 23rem;
}

.radgivning-dekstop-section-three-text p {
  font-weight: 200;
  margin: 3rem auto;
  text-align: center;
  width: 20rem;
}

.radgivning-dekstop-section-three-text button {
  margin: 1rem auto;
  width: fit-content;
}

.radgivning-dekstop-section-three-img {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 15rem auto 0 0;
  padding: 0;
  /* background-color: hotpink; */
}

.radgivning-dekstop-section-three-img img {
  max-width: 50rem;
  margin: auto 0 0 auto;
  width: 90%;
}