/*Home wrapper*/

.homeview-desktop-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #707070;
  background-color: #f1f1f1;
}

.homeview-desktop-img {
  width: 100%;
  opacity: 0.8;
}

/* Intro text */

.homeview-desktop-intro-text {
  width: 700px;
  text-align: justify;
  margin: 4rem auto 0 auto;
}

.homeview-desktop-intro-text h4 {
  border-bottom: rgba(0, 0, 0, 0.151) solid 1px;
  /* border-top: rgba(0, 0, 0, 0.151) solid 1px; */
  font-size: 24px;
  font-weight: 300;
  padding-top: 0;
  padding-bottom: 3rem;
}

/*Section One*/

.homeview-desktop-section-one {
  display: flex;
  justify-content: center;
  margin: 5rem auto;
  width: 100%;
  /* background-color: hotpink; */
}

.homeview-desktop-section-one div {
  /* background-color: rgb(51, 17, 34); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 15rem;
  padding: 0;
  margin: 0;
}

.homeview-desktop-section-one div img {
  width: 10rem;
  border-radius: 1rem;
}

.homeview-desktop-section-one div p {
  width: 12rem;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.homeview-desktop-section-one-box h2 {
  text-transform: uppercase;
  font-weight: 600;
}

.homeview-desktop-section-one-box img, .homeview-desktop-section-one-box p, .homeview-desktop-section-one-box h3 {
  margin: 2rem 0;
}

.homeview-desktop-section-one-box img {
  box-shadow: #777 0.4rem 0.4rem 0.4rem;
}

.homeview-desktop-section-one-span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18rem;
}

.homeview-desktop-button {
  align-content: flex-end;
}

/*Section*/

.homeview-desktop-section-container, .homeview-desktop-section-container-mirror {
  display: flex;
  justify-content: space-around;
  margin: 5rem auto;
  max-width: 1000px;
}

.homeview-desktop-section-left, .homeview-desktop-section-right {
  margin: 0 4vw;
}

.homeview-desktop-section-left img {
  border: 0.555 solid 1px;
  border-radius: 3rem;
  box-shadow: #777 0.4rem 0.4rem 0.4rem;
  max-width: 20rem;
  margin: 2rem 0;
  width: 20vw;
}

.homeview-desktop-section-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
  padding: 0 2rem;
}

.homeview-desktop-section-right h3, .homeview-desktop-section-right p, .homeview-desktop-section-right button {
  margin: 1rem 0;
}

.homeview-desktop-section-right h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
}

.homeview-desktop-section-right p {
  max-width: 25rem;
  text-align: justify;
  font-size: 0.9rem;
}

.homeview-desktop-section-right button {
  margin: 1rem auto;
}

.homeview-desktop-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeview-desktop-img-desktop {
  display: flex;
}

.homeview-desktop-section-container-mirror {
  border-top: #777 solid 1px;
  border-bottom: #777 solid 1px;
  margin: 0 auto;
  padding: 5rem 0;
}