.etolog-desktop-box {
  align-items: center;
  border-radius: 1rem;
  border: rgba(128, 128, 128, 0.507) solid 1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem 1rem 2rem 1rem;
  width: 13rem;
}

.etolog-desktop-box-headline {
  font-size: 1rem;
  height: 5rem;
  text-align: center;
}

.etolog-desktop-box-img {
  border-radius: 2rem;
  max-width: 10rem;
  width: 30vw;
}

.etolog-desktop-box-star, .etolog-desktop-box-nostar {
  height: 2.5rem;
}

.etolog-desktop-box-paragraph {
  padding: 2rem 0 0 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  height: 6rem;
}

.etolog-desktop-box-img-star-wrapper {
  display: grid;
}

.etolog-desktop-box-homepage, .etolog-desktop-box-email, .etolog-desktop-box-city {
  display: flex;
  text-align: left;
  font-size: 1rem;
}

.etolog-desktop-box-icon-homepage, .etolog-desktop-box-icon-email, .etolog-desktop-box-icon-city {
  padding-right: 1rem;
}

.etolog-desktop-box-email-link {
  cursor: pointer;
  text-decoration: none;
}

.etolog-desktop-box-contact-wrapper {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}