.etolog-desktop-box {
  align-items: center;
  display: flex;
  border-radius: 2rem;
  border: grey solid 1px;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  width: 13rem;
  padding: 2rem 1rem;
}

.etolog-desktop-box-headline {
  font-size: 1.5rem;
  text-align: center;
}

.etolog-desktop-box-img {
  width: 30vw;
  max-width: 10rem;
  border-radius: 2rem;
  margin-top: 2rem;
}

.etolog-desktop-box-paragraph {
  padding: 2rem 0;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
}

.etolog-desktop-box-phone, .etolog-desktop-box-email, .etolog-desktop-box-city {
  display: flex;
  text-align: center;
  font-size: 1rem;
}

.etolog-desktop-box-city-phone, .etolog-desktop-box-city-email, .etolog-desktop-box-city-icon {
  padding-right: 2rem;
}

.etolog-desktop-box-email-link {
  color: initial;
  cursor: pointer;
  text-decoration: none;
}